*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --orange: #FFC55A;
    --turquoise: #6FE2D4;
    --bleu: #7FA6D3;
    --largeur-section: 60%;
}

body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(90deg, var(--orange), var(--turquoise), var(--bleu));
    min-height: 100vh;
}
.titre-header {
    display: none;
}

.container {
    --largeur-relle-section: 60%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 1rem;
    
}
.navigation {

    background: linear-gradient(90deg, var(--orange), var(--turquoise), var(--bleu));
    width: 100%;
    padding: 0.5rem 1rem;
    position: fixed;
    top: 0;
    z-index: 100;
}

.nav-links {
    display: flex;
    justify-content: center;
    list-style-type: none;
}


.nav-links a {
    display: block;
    margin: 0 0.5rem;
    text-decoration: none;
    color: #2c3e50;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 0.4rem 0.75rem;
    border-radius: 7px;
    transition: color 0.3s ease, background-color 0.3s ease;
    text-align: center;
}

.nav-links a:hover {
    color: #f8cd85;
    background-color: #5d94d4;
}
.nav-toggler {
    display: none;
}
.nav-accueil {
    display: none;
}
.logo {
    padding: 1.5rem;
    position: fixed;
    top: 2.5rem;
    left: 1.5rem;
    z-index: 200;
    border-radius: 7px;
    background: linear-gradient(90deg, var(--bleu), var(--turquoise), var(--bleu));
    backdrop-filter: blur(6px);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
    border: none;
    cursor: pointer;
}

.logo img {
    height: 6.25rem;
    transition: transform 0.3s ease;
}

.logo img:hover {
    transform: scale(1.05);
}
.choisir-alma {
    position: fixed;
    top: 13rem;
    left: 1rem;
    visibility: hidden;
    opacity:0;
    z-index: 300;
    background: rgba(255,255,255,1);
    padding: 1rem 1.5rem;
    border-radius: 10px;
}
.choisir-alma h3 {
    margin-bottom: 1rem;
}
.active-logo {
    visibility: visible;
    opacity:1;
}

.logo-sens-demain {
    padding: 1.5rem;
    position: fixed;
    top: 15rem;
    left: 4rem;
    z-index: 200;
    background: var(--bleu);
    border-radius: 50%;
}
.logo-sens-demain img {
    height: 6.25rem;

    }
.logo-contact {
    padding: 1.2rem;
    background: linear-gradient(90deg, var(--orange), var(--turquoise), var(--orange));
    position: fixed;
    top: 2.5rem;
    right: 1.5rem;
    z-index: 200;
    font-style: italic ;
    border-radius: 7px;
}
.logo-qualiopi {
    font-size: 0.7rem;
    max-width: 10.7rem;
    position: fixed;
    top: 10rem;
    right: 4rem;
    z-index: 200;
    cursor: pointer;
}
.logo-qualiopi p {
    width: 90%;
}
.logo-qualiopi img:hover {
    transform: scale(1.05);
}
.logo-qualiopi img {
    width: 100%;
}

.section {
    width: 60%;
    min-height: 100vh;
    padding: 4.5rem 1.2rem 3rem;
    margin: 0 auto;
}
.section-title {
    font-family: "MuseoModerno", sans-serif;
    color: #2c3e50;
    font-weight: 500;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1.5rem;
}
.long-title span{
    display: block;
    font-size: 1.8rem;
    margin-bottom: 0;
} 
.section-subtitle {
    font-family: "MuseoModerno", sans-serif;
    padding: 0 0.5rem;
    font-size: 1.5rem;      
    font-weight: 700;
    margin-top: 1rem;
    color: #2c3e50;
}
.remplissage {
    font-size: 0.8rem;
    font-style: italic ;
    padding: 0 0.5rem;
}
/* section Accueil */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.presentation {
    padding: 0.5rem;
}
.presentation h3 {
    margin-bottom: 2rem;
    font-size: 1.1rem;
}
.presentation p {
    font-size: 1.1rem;
}
.presentation p span{
    font-weight: bold;
}
.technicienne {
    max-width: 45%;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    max-height: 20rem;
}
.technicienne img {
    flex-shrink: 0;
    transform: translateX(10rem);
}
.hero-buttons {
    margin-top: 2rem;
}
.decouvrir-btn, .devis-btn {
    font-family: "MuseoModerno";
    display: block;
    min-width: 15rem;
    margin: 0 auto;
    padding: 0.3rem;
    font-size: 1rem;
    border-radius: 3px;
    border-color: #5d94d4;
    cursor: pointer;
}
.devis-btn {
    margin-top: 0.4rem;
}
.decouvrir-btn:hover, .devis-btn:hover {
    transform: scale(1.05);
}
.decouvrir-btn a, .devis-btn a {
    text-decoration: none;
    
}
/* slide ALMA en 3 points */
.alma-3-en-1-container, .temoignages-container {
    overflow:hidden;
    width: 100%;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(6px);
    border-radius: 10px;
    margin-top: 1.5rem;
}
.titre-alma-3-en-1, .titre-temoignages {
    font-family: "MuseoModerno", sans-serif;
    font-size: 2rem;
    font-weight: 500;
}
.titre-alma-3-en-1 span {
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
    text-underline-offset: 0.2rem;
}
.titre-point {
    font-family: "MuseoModerno", sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
}
.point {
    padding: 0.2rem 2.1rem;
    font-size: 1.1rem;
}
.sliding-container {
    display: flex;
    animation: carousel 16s ease-in-out infinite;
}
@keyframes carousel {
    0%,
    20% {
    transform: translateX(0);
    }
    25%,
    45% {
    transform: translateX(-100%);
    }
    50%,
    70% {
    transform: translateX(-200%);
    }
    75%,
    95% {
    transform: translateX(-300%);
    }
    100% {
    transform: translateX(-400%);
    }
}
.text-slide {
    flex: 1 0 100%;
    padding: 1rem 1rem;
}
/* Formations NFC 18-510 */
.habilitation {
    position: relative;
}

.formation {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "formation-pe voir-formation-btn";
    padding: 0.5rem;
    align-items: center;
}
.titre-formation {
    font-family: "MuseoModerno", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0.2rem;
}
.nom-formation {
    margin-bottom: 0.2rem;
}
.duree-formation {
    font-style: italic;
}
.duree-variable {
    margin-top: 1rem;
    padding: 1rem;
}
.voir-formation-btn {
    width: 6rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    cursor: pointer;
    font-family: "MuseoModerno", sans-serif;
    font-size: 1rem;
    border-radius: 3px;
    border-color: #5d94d4;

}
.voir-formation-btn:hover {
    transform: scale(1.05);
}
.voir-formation-btn a {
    text-decoration: none;
}
.temoignages-container {
    margin-top: 1rem;
}
/* Contexte réglementaire */
.bloc-reglement {
    z-index: 100;
}
.reglement{
    position: fixed;
    top:20rem;
    right: 3.5rem;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(6px);
    border-radius: 10px;
    padding: 1rem;
    cursor:  pointer;
}
.contexte-reglementaire {
    width: 57%;
    height: 53%;
    padding: 2rem 1.5rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f1f1f1;
    z-index: 200;

    border-radius: 10px;
    opacity:0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}
.bloc-reglement:hover .contexte-reglementaire {
    opacity: 1;
    visibility: visible;
}
.contenu-contexte-reglementaire h3 {
    margin-bottom: 1rem;
}
.article {
    font-style: italic;
    text-decoration: underline;
    margin-top: 1rem;
    margin-bottom: 0.2rem;
}
/* section Qualiopi */
.certification iframe {
    display: block;
    margin: 0 auto;
}
.certification h3 {
    margin-bottom: 1rem;
}
.certification ul {
    padding-left: 1rem;
    margin-bottom: 1rem;
}
.qualiopi-button {
    font-family: "MuseoModerno";
    display: block;
    min-width: 15rem;
    margin: 0 auto;
    padding: 0.3rem;
    font-size: 1rem;
    border-radius: 3px;
    border-color: #5d94d4;
    cursor: pointer;
    margin-bottom: 1rem;
}
.qualiopi-button a{
    text-decoration: none;
}
/* section Contact */
.formulaire-contact {
    max-width: 800px;
    padding: 1rem;
    margin: 0 auto;

}
.formulaire-contact {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 1rem;
    padding: 2rem;
    border-radius: 10px;
}
.formulaire-contact div {
    display: flex;
    flex-direction: column;
}
.formulaire-contact label {
    margin-bottom: 0.3rem;
    font-weight: 600;
}
.formulaire-contact input {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}
.formulaire-contact input:hover {
    background: #eee;
}
.div-message {
    grid-column: 1 / -1; 
    grid-row: span 2; 
}
.message {
    padding: 0.5rem;
    border-radius: 5px;
    resize: vertical;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    border: 1px solid #ccc;
}
.div-buttons {
    grid-column: 1 / -1;     
    display: flex;
    flex-direction: row !important;     
    justify-content: space-around;  
    align-items: center;      
    gap: 1.5rem;             
    margin-top: 1rem;
}
.btn {
    color: #2c3e50;
    text-align: center;
    font-size: 1.3rem;;
    max-width: 9rem;
    padding: 0.5rem 2rem;
    font-weight: 600;
    border-radius: 5px;
    justify-content: center;
    border: none;
    cursor: pointer;
}
.submit-btn {
    background: #5d94d4;
}
.submit-btn:hover {
    background: #84b4eb;
}
.effacer-btn {
    background: #b1b2b3;
}
.effacer-btn:hover {
    background: #e1e2e2;
}

footer {
    padding: 12px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(6px);
    }
    @media (max-width: 1300px) {
        html {
            font-size: 15px;
    }
    }
    @media (max-width: 1100px) {
        .nav-links {
            padding-right: 10%;
            justify-content: end;
            }
        .section {
            width:70%;
            margin-right: 4%;
            }
        .long-title span {
        font-size: 1.7rem;
        } 
        .logo-contact {
            top: 13rem;
            left: 1.5rem;
            width: 15rem;
            background: linear-gradient(90deg, var(--bleu), var(--turquoise), var(--bleu));
            padding: 0.5rem;
            }

        .logo-qualiopi {
            position: fixed;
            top: 28rem;
            left: 3rem;
            z-index: 200;
            cursor: pointer;
            }
        .reglement{
            top: 37rem;
            left:2rem;
            border-radius: 5px;
            padding: 1rem;
            width:12rem;
            }
        .contexte-reglementaire {
            width: 66.5%;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(calc(-50% + 16%), -50%);
            }

        .logo-sens-demain {
            top: 18.5rem;
            left: 4rem;
            z-index: 200;
            background: var(--bleu);
            border-radius: 50%;
            }
        .logo-sens-demain img {
            height: 5.25rem;
            }
    }
  
    @media (max-width: 900px) {
      html {
            font-size: 14px;
        }
      .section {
            margin-right: 0;
        }
      .long-title span {
        font-size: 1.6rem;
        } 
      .navigation {
            padding: 0.3rem 
        }
      .nav-links {
            padding-right: 0;
            justify-content: end;
        }
      .nav-links a {
            padding: 0.4rem 0.50rem;
        }
      .logo {
            left: 2.5rem;
        }
      .choisir-alma {
            top: 13rem;
            left: 1rem;
            border-radius: 10px;
        }
      .logo img {
            height: 5rem;
            transition: transform 0.3s ease;
        }
      .contexte-reglementaire {
            transform: translate(calc(-50% + 22%), -50%);
        }
      .logo-contact {
            top: 13rem;
            left: 1.5rem;
            width: 15rem;
            background: linear-gradient(90deg, var(--bleu), var(--turquoise), var(--bleu));
            padding: 0.5rem;
        }
      .logo-sens-demain {
            top: 19rem;
        }
      .logo-qualiopi {
            top: 29rem;
        }
      .reglement{
            top: 38.5rem;
            left:2.3rem;
            border-radius: 5px;
            padding: 1rem;
            width:12rem;
        }
      .contexte-reglementaire {
            height: 60%;
            padding: 1rem;
            }
      .technicienne img {
            flex-shrink: 0;
            transform: translateX(12rem);
            }
    }
    @media (max-width: 725px) {
        body, .navigation  {
            background: linear-gradient(90deg, var(--bleu), var(--turquoise), var(--orange));
            }
        .container {
            padding: 0.2rem
            }
        .navigation {
            display: flex;
            order: 1;
            background: transparent;
            }
        .nav-links {
            display: none;
            flex-direction: column;
            align-items: start;
            background: var(--orange);
            border-radius: 0.5rem;
            padding-top: 1rem;
            }
        .nav-links a{
            margin-bottom: 1rem;
            }
        .nav-links.active {
            display: inline-block;
            width: 100vw;
            }
        .nav-toggler {
            order: 2;
            display: flex;
            justify-content: center;
            align-items: center;
            align-self: baseline;
            margin-right: auto;
            background: none;
            border: none;
            cursor: pointer;
            padding: 0.2rem;
            }
        .nav-toggler img {
            width: 2rem;
            background: var(--orange);
            border-radius: 5px;
            }
        .nav-toggler img:hover {
            background: #fadba0;
        }
        .section {
            width:70%;
            margin-left: 0;
            padding: 0;
            }
        .section-title {
            font-size: 2.5rem;
            text-align: center;
            margin-bottom: 1rem;
            padding-top: 2rem;
            }
        .long-title span{
            font-size: 1.5rem;
        } 
        .logo {
            left: auto;
            right: 1rem;
            }
        .choisir-alma {
            top: 12rem;
            right: 1rem;
            left: auto;
            border-radius: 10px;
            }              
        .logo-contact {
            top: 12.5rem;
            left: auto;
            right: 1rem;
            width: 13rem;
            }
        .logo-contact :last-child {
            font-size: 0.9rem;
            }
        .logo-qualiopi {
                top: 28rem;
            left: auto;
            right: 2rem;
            }
        .reglement{
            top: 38rem;
            left: auto;
            right:1.5rem;
            }
        .contexte-reglementaire {
            width: 66.5%;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(calc(-50% - 22%), -50%);
            }
        .logo-sens-demain {
            top: 18.5rem;
            left: auto;
            right: 3rem;
            z-index: 200;
            background: var(--bleu);
            border-radius: 50%;
            }
      .logo-sens-demain img {
            height: 5.25rem;
            }
      .hero {
            flex-direction: column;
            }
      .technicienne {
            max-width: 70%;
            order: 1;
            justify-content: center;
            transform: translateX(-10%);
            }
      .technicienne img {
            transform: none;
            }
      .presentation {
            order: 2;
            }
      .presentation h3 {
            margin-bottom: 0.8rem;
            }
      .temoignages-container {
            max-width: 90%;
            }
      .voir-formation-btn {
            max-width: 4rem;
            height: 2rem;
            }
      .hero-buttons {
            margin-top: 1rem;
            }
      .alma-3-en-1-container, .temoignages-container {
            width: 90%;
            margin-top: 0.2rem;
            margin-left: 1rem;
            }
      .text-slide {
            padding: 0.3rem;
            }
      .formulaire-contact {
            grid-template-columns: 1fr;
            padding: 0.5rem 3rem 1rem 2rem;
            padding-right: 3rem;
            border-radius: 10px;
            }
      .formulaire-contact input {
            margin-bottom: 0;
            }
      .formulaire-contact label {
            margin-bottom: 0;
            }
      .div-buttons {
            margin-top: 0.5rem;
            }
    }
    @media (max-width: 525px) {
        body {
            background: linear-gradient(90deg, var(--orange), var(--turquoise), var(--orange));
            }
        .header-mobile {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh
            }
        .navigation {
            z-index: 400;
        }
        .nav-accueil {
            display: block;
        }
        .titre-header {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-family: "MuseoModerno", sans-serif;
            }
        .logo, .logo-contact, .logo-qualiopi, .logo-sens-demain, .titre-header{
            position: static;
            z-index: 0;
            margin: 0.5rem;
            }
        .logo img {
            height: 7rem;
            }
        .choisir-alma {
            top: 16.5rem;
            left: auto;
            right: auto;
            }
        .logo-contact {
            width: 16.5rem;
            }
        .logo-contact :last-child {
            font-size: 1rem;
            }
        .section {
            width: 100%;
            }
        .bloc-reglement {
            position: relative;
            text-align: center;
            margin: 1.5rem auto 0;
            width: fit-content;
            }
        .reglement {
            position: static;
            margin-top: 1rem;
            cursor: pointer;
            }
        .contexte-reglementaire {
            position: absolute;
            top: calc(100% + 0.75rem); 
            left: 50%;
            transform: translateX(-50%);
            width: 90vw;
            max-width: 30rem;
            height: auto;
            padding: 1.2rem;
            border-radius: 10px;
            background: #f1f1f1;
            box-shadow: 0 10px 30px rgba(0,0,0,0.15);
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s ease;
            z-index: 300;
            }
        .bloc-reglement:hover .contexte-reglementaire {
            opacity: 1;
            visibility: visible;
            }
        .div-formations {
            margin-top: 2rem;
            }
}