body {
    /* background: linear-gradient(90deg, #F59C1A, #33C1B1, #4A759F); */
    /* background: linear-gradient(135deg, #FFC55A 0%, #6FE2D4 50%, #7FA6D3 100%); */
    /* background: linear-gradient(90deg, #FFC55A, #6FE2D4, #7FA6D3); */
/* background: linear-gradient(90deg, #6FE2D4, #7FA6D3); */
/* background: linear-gradient(90deg, #FFE6A3 10%, #A1F0E4 45%, #A9C9E8 90%); */




/* }
img {
    width: 200px;
    /* background-color: transparent; */
} */